{%extends 'Users/index.html'%}
{%block content%}
{% if messages %}
<script> alert('The username or password already exist! Try again');
</script>
{% endif %}
{% if registered %}
    <div style="border:2px solid rgb(2, 2, 32);color:aqua">
  
<h2>You can now login</h2></div>
<a href="/login">LOGIN</a>
{% else %}
<br><br><br>
<div class="container" style="border:5px solid rgb(5, 5, 78); padding:30px;width:700px " >
    <h4 style="color:aliceblue; text-align:center">Enter Name and Password</h4>
    <br/>
    <form method="post" enctype="multipart/form-data" style="color:white">
        {%csrf_token%}
       <br/>
        {{user_form}}
       <br/>
       <br/>
        
        <input type="submit" value="Register" class="btn btn-primary btn-block" style="color:aliceblue">
    </form>
</div>
{% endif %}

{% endblock %}